/* REGOLE GENERALI */

*{
    margin: o;
    padding: 0;
    box-sizing: border-box;
}

[class*="col"]{
    /* debug */
    background-color: pink;
}


/* colori */

.red{
    background-color:#ba4b63 ;    
}

.black{
    background-color: #140f0f;
}

.lightblue{
    background-color: #1ea4b6;
}

.blue{
    background-color: #1c83c1;
}

.blue2{
    background-color:#0e38b5 ;
}

.brown{
    background-color: #ccb2a3;
}

.green{
    background-color: #1abc9c;
}

.white{
    background-color: #ffffff;
}

.blue3{
    background-color: #3a546d;
}

.blue4{
    background-color: #2c3e50;
}

.grey{
    background-color: grey;
}

/* REGOLE HEADER */

header{
    background-color: #2c3e50;
    color: white;
    height: 100px;
}

.hamburger{
    display: inline-block;
}

.menu{
    display: none;
}

/* REGOLE MAIN */

/* REGOLE FIRST LAYOUT START BOOTSTRAP*/

#startbootstrap{
    color: white;
}

#startbootstrap .sfondo{
    min-height: 450px;
}

#startbootstrap img{
    width: 60%;
}
/* REGOLE SECOND LAYOUT PORTFOLIO*/

#portfolio .sfondo{
    min-height: 450px;
    border: white solid 20px;
}

.sfondo{
    display: flex;
}

#portfolio img{
    width: 100%;
}

/* REGOLE THREAD LAYOUT ABOUT */

/* REGOLE FOURTH LAYOUT CONTACT ME */

#contactme li{
    list-style-type: none;
}

#contactme .grey{
    width: 30%;
    height: 2px;
}



/* REGOLE FOOTER */

footer{
    color: white;
}

/* REGOLE FIFTH LAYOUT LOCATION */



/* REGOLE RESPONSIVE */

@media all and (min-width:768px){

    body{
        margin: 0 30px;
    }

    /* REGOLE HEADER */

    .menu{
        display: inline-block;
        background-color: #ba4b63;
        height: 26%;
    }

    .hamburger{
        display: none;
    }

    header{
        justify-content: space-around;
    }

    /* REGOLE MAIN */

    /* first section Start bootstrap */

    #startbootstrap img {
        width: 30%;
    }

    /* second layout portfolii */

    #portfolio .sfondo {
        min-height: auto;
        border: 0;
    }
}



@media all and (min-width:992px) {


    
}


 










